body {
    background-color: #F5F5F5;
    font-family: arial;
}

article {
    display: flex;
    line-height: normal;
    font-weight: normal;
    text-align: center;
    color: #1C85BB;
    text-decoration: white;
    text-transform: none;
    justify-content: center;
    flex-direction: column;
}

.main_text {
    margin: 50px 300px;
}

div {
    width: 100%;
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
}

img {
    width: 278px;
    height: 368px;
}

img:hover {
    box-shadow:0 0 6px 6px #555;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.photos {
    display: flex;
}

ul {
    list-style: none; /*убираем маркеры списка*/
    padding-left: 0; /*убираем отступы*/
    margin: 40px 0 0;
}
a {
    text-decoration: none; /*убираем подчеркивание текста ссылок*/
    background:#30A8E6; /*добавляем фон к пункту меню*/
    color:#fff; /*меняем цвет ссылок*/
    padding:15px; /*добавляем отступ*/
    font-family: arial; /*меняем шрифт*/
    border-radius:4px; /*добавляем скругление*/
    -moz-transition: all 0.3s 0.01s ease; /*делаем плавный переход*/
    -o-transition: all 0.3s 0.01s ease;
    -webkit-transition: all 0.3s 0.01s ease;
}

.main_name {
    background:#30A8E6; /*добавляем фон к пункту меню*/
    color:#fff; /*меняем цвет ссылок*/
    /*добавляем отступ*/
    padding: 30px 50px;
    font-family: arial; /*меняем шрифт*/
    border-radius:4px; /*добавляем скругление*/
    box-shadow: 0px 4px 3px 4px rgba(0, 0, 0, 0.25);

}

a:hover {
    background:#1C85BB;/*добавляем эффект при наведении*/
}

li {
    float:left; /*Размещаем список горизонтально для реализации меню*/
    margin-right:25px; /*Добавляем отступ у пунктов меню*/

}

.starter{
    width:100px;
    border:2px solid #ccc;
    background:#30A8E6;
    text-align:center;
    padding:10px;
    position:fixed;
    bottom:50px;
    right:50px;
    cursor:pointer;
    color:#fff;
    font-family:Arial;
    font-size:12px;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -khtml-border-radius: 5px;
}
